<%- include('../partials/header') %>
    <h2 class="destinations">Destinations</h2>
    <h4 class="tripList">Add Your Trips To The List</h4>
    <table id="add">
        <thead>
            <tr>
                <th>Location</th>
                <th>Arrival</th>
                <th>Depart</th>
                <th>Description</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <% destinations.forEach(function(d) {%>
                <tr>
                    <td class="location">
                        <%= d.location %>
                    </td>
                    <td>
                        <%= d.arrival %>
                    </td>
                    <td>
                        <%= d.depart %>
                    </td>
                    <td>
                        <%= d.description %>
                    </td>
                    <td>
                       <a href="/destinations/<%= d._id %>">Details</a>
                    </td>
                    <td>
                       <img class="image" src="<%= d.image %>" alt=""> 
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>


    <%- include('../partials/footer') %>