<%- include('../partials/header') %>
    <h2>Destinations</h2>
    <h4>Add Your Trips To The List</h4>
    <table id="add">
        <thead>
            <tr>
                <th>location</th>
                <th>arrival</th>
                <th>depart</th>
                <th>description</th>
                <th>image</th>
            </tr>
        </thead>
        <tbody>
            <% destinations.forEach(function(d) {%>
                <tr>
                    <td>
                        <%= d.location %>
                    </td>
                    <td>
                        <%= d.arrival %>
                    </td>
                    <td>
                        <%= d.depart %>
                    </td>
                    <td>
                        <%= d.description %>
                    </td>
                    <td>
                       <img src="<%= d.image %>" alt=""> 
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>


    <%- include('../partials/footer') %>